<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of Pet Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.example.petClinic.model.Owner"*/-->
<h2 th:text="'List of Owners'">Owners List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 150px;">Address</th>
        <th style="width: 150px;">City</th>
        <th style="width: 150px;">Telephone</th>
        <th style="width: 150px;">Pets</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td><a th:href="@{ '/owner/view/' + ${owner.id}}" th:text="${owner?.firstName + ' ' + owner?.lastName}">Name</a></td>
        <td th:text="${owner.address}">123 Street</td>
        <td th:text="${owner.city}">Delhi</td>
        <td th:text="${owner.telephone}">222-333-122</td>
        <td>
            <span th:each="pet : ${owner.pets}" th:text="${pet.name} + ' ' "></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>